# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore build directories
build/
dist/

# Ignore log files
logs/

# Ignore egg-info files
*.egg-info/

# Ignore virtual environment folder
venv/

# Other
idea/
tests/output/
examples/output/
examples/build_20251219/
examples/build_20260119/
examples/overhang/
examples/tests/
examples/wiggle/wiggle_hossein/
output/
paper_code/


